<div class="container-fluid">

  <div class="row header">

    <div class="col-md-8 col-sm-8 col-xs-8 ">

      <img class="logo" src="..//assets\ctl.png">

    </div>

    <div class="col-md-2 col-sm-2 col-xs-1 col-2">

      <h2>Welcome Admin</h2>

    </div>

    <div class="col-md-2 col-sm-2 col-xs-2 col-2">


<a href="login">
      <i class="large material-icons"  routerLink="/login" matTooltip="Logout" aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="print()">exit_to_app</i>
</a>
    </div>

  </div>
  <br>
  <br>
 
  <div class="row main">

    <div class="col-md-2">



      <a class="list-group-item" style="font-size: 150%"  routerLink="/" >User Details</a>

      <a class="list-group-item" style="font-size: 150%" routerLink="/topic" routerLinkActive="active-link"(click)="clicked('userDetails')">Take quiz</a>
      <a class="list-group-item" routerLink="/topic" routerLinkActive="active-link"(click)="clicked('userDetails')">Take quiz</a>
      <div *ngIf="isAdmin">
        <a class="list-group-item" routerLink="/questionUpload" routerLinkActive="active-link" >Upload Questions</a>
      </div>



    </div>






  </div>



</div>