<app-main></app-main>

<div class="right-block">
  <div class="main-content">
    
      <div class="card ">
          <div class="card-body">
              <form  (ngSubmit)="onSubmit()">

                  <h1 class="page-title inner">Upload the Questions</h1>
                  <br>

                  <div class="row">
                      <div class="col-sm-3">
                      <label for="incident_id">Choose xlsx or xls file to upload:</label></div>
                      <div class="col-sm-3">
                      <input type="file" (change)="onFileChange($event)" (click)="clearErrorMessage()" class="form-control" multiple="false" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    </div>
                    <div class="col-sm-6"></div>
                    </div>

                    <div class="row">
                       
      
                        <div class="col-sm-3"></div>
                      <div class="col-sm-3">
                          <span style="color: red">{{validateMessage}}</span>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                       
      
                        <div class="col-sm-3"></div>
                      <div class="col-sm-2">
                        <input type="submit" value="Upload" class="form-control btn-success" [disabled]="!isValid">
                      </div>
                    </div>


                
                </form>

             
      </div>
  </div>
</div>
</div>