<app-main>
</app-main>
<div class="right-block">
  <div class="main-content">
    <h1 class="page-title">Quiz-App</h1>
    <div class="card ">
      <div class="card-body">
        <h3>Topic:</h3>
        <div class="dropdown">
          <form [formGroup]="topicForm" (submit)="onSubmit()" class="form-inline">

            <select class="topic" formControlName="topic" id="topic" required>
              <option value="" disabled selected>Select your topic</option>
              <option *ngFor="let item of topics;" (value)="item">{{item}}</option>

            </select>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <select class="mark" formControlName="mark" id="mark" required>
              <option value="" disabled selected>Marks</option>
              <option *ngFor="let item of marks;" (value)="item.mark">{{item.mark}}</option>

            </select> &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>