<app-main></app-main>

<div class="right-block">
    <div class="main-content">
        <!--<form [formGroup]="QuestionForm"  (submit)="onSubmit()" class="form-inline"> -->
        <div class="card ">
            <div class="card-body">
                <div class="row">
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4">
                        <div class="card horizontal" style="height: 100px; width: 400px; background-color:#ff3333" *ngIf="result.data[0].resultStatus=='Faild'; else pased">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <div class="row"></div>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <h2 class="text-justify">You Scored passed {{result.data[0].scoredMarks}}/{{result.data[0].totalMarks}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #pased>
                        <div class="card horizontal" style="height: 100px; width: 400px; background-color:green" >
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <div class="row"></div>
                                        <br>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4"></div>
                                            <div class="col-sm-4">
                                                <h2 class="text-justify">You Scored {{result.data[0].scoredMarks}}/{{result.data[0].totalMarks}}</h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </ng-template>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-4">
                        <h2 style="align-content: center"> {{result.data[0].resultStatus}}</h2>
                    </div>
                </div>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>