<div class="container-fluid">

  <div class="row header">

    <div class="col-md-9 col-sm-9 col-xs-9 ">

      <img class="logo" src="..//assets\ctl.png">

    </div>

    <div class="col-md-2 col-sm-2 col-xs-1 col-2">

      <h2>Welcome Admin</h2>

    </div>

    <div class="col-md-1 col-sm-1 col-xs-1 col-1">



      <i class="large material-icons" matTooltip="Logout" aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="print()">exit_to_app</i>

    </div>

  </div>
  <div class="row main">

    <div class="col-md-2">



      <a class="list-group-item" routerLink="/" (click)="clicked('topic')">User Details</a>

      <a class="list-group-item" routerLink="/topic" routerLinkActive="active-link" (click)="clicked('userDetails')">Take quiz</a>



    </div>
    <div class="col-sm-8">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Lastname</th>
            <th>Email ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
          </tr>
        </tbody>
      </table>
    </div>





  </div>
</div>