<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class=bg>

  <form [formGroup]="loginForm" (submit)="onSubmit()" class="form-inline">

    <div class="center">

      <div class="card card-container" style=" background-color:  #ffffff">

        <br>
        <br>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <div class="col-sm-4">
              <i class="large material-icons">account_circle</i>
            </div>
            <div class="col-sm-6">
              <input class="form-control" formControlName="name" id="name" placeholder=" " required style="width: 350%">
            </div>
          </div>

          <div class="col-sm-4">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Name is required.
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-6">
            <div class="col-sm-4">
              <i class="large material-icons">lock_outline</i>
            </div>
            <div class="col-sm-6">
              <input class="form-control" type="password" formControlName="password" id="password" required style="width: 350%">
            </div>
          </div>
        

        <div class="col-sm-4">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.

            </div>
          </div>
        </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">

            <div class="red">{{validateError}}</div>
          </div>
          <div class="col-sm-2"></div>
        </div>

        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-8">
            <button type="submit" class="btn btn-success" style="width:40%">Login</button>&nbsp;
            <button type="reset" class="btn btn-primary " style="width:40%">Cancel</button>&nbsp;
          </div>
        </div>
        <br>

        <div class="row">

          <div class="col-sm-8"></div>
          <div class="col-sm-2">
            <div class="footer">

              <button class="btn btn-success" style="background-color: ghostwhite; color:black; text-underline-position: below" (click)="signUp()">SignUp</button>&nbsp;

            </div>

            <br>
            <br>
          </div>
        </div>

        <br>
        <br>
      </div>

    </div>
  </form>
</div>
