body {font-family: Arial, Helvetica, sans-serif;}
form {border: 1px solid,#f1f1f1;}

input[type=text], input[type=password] {
    
    width: 150%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

button {
    background-color: rgb(9, 10, 9);
    color: white;
    padding: 5px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}
.center{
    margin: auto;
    width: 45%;
    height: 200%;
       padding-top: 200px;
    padding-right: 100px;
    padding-bottom: 300px;
    padding-left: 150px;
}
.card card-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.9s;
    width: 8%;
    height: 20%;
    background-color: 
    #003366;
   
}

::-webkit-input-placeholder{
    font-size: 13px;
}
button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 4px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.red{
    color: #f44336;

    font-size: 15px;

}
.bg{
    background: url(../../assets/Quizapp.jpg);
    background-repeat: inherit;

}
.footer{
    text-align-last: right;
    padding-right: 0%;

}
