<div class="bg">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)" class="form-inline">
    <div class="center">
      <div class="card card-container">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="firstName">
                    <h6>First Name</h6>
                  </label>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control" formControlName="firstName" id="firstName" name="firstName" placeholder=" " required>
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div *ngIf="signUpForm.get('firstName').invalid && (signUpForm.get('firstName').dirty || signUpForm.get('firstName').touched)" class="alert alert-danger">
                <div *ngIf="signUpForm.get('firstName').errors.required">
                  First name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="lastName">
                    <h6>Last Name</h6>
                  </label>
                </div>
                <div class="col-sm-6">
                  <input class="form-control" formControlName="lastName" id="lastName" placeholder=" ">
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div *ngIf="signUpForm.get('lastName').invalid && (signUpForm.get('lastName').dirty || signUpForm.get('lastName').touched)" class="alert alert-danger">
                <div *ngIf="signUpForm.get('lastName').errors.required">
                  Last name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="email">
                    <h6>Email</h6>
                  </label>
                </div>
                <div class="col-sm-6">
                  <input class="form-control" formControlName="email" id="email" placeholder=" ">
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div *ngIf="signUpForm.get('email').invalid && (signUpForm.get('email').dirty || signUpForm.get('email').touched)" class="alert alert-danger">
                <div *ngIf="signUpForm.get('email').errors.required">
                  Email is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!--<div class="col-sm-2"></div>-->
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="username">
                    <h6>Username</h6>
                  </label>
                </div>
                <div class="col-sm-6">
                  <input class="form-control" autocomplete="off" formControlName="username" id="username" placeholder=" " required>
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div *ngIf="signUpForm.get('username').invalid && (signUpForm.get('username').dirty || signUpForm.get('username').touched)" class="alert alert-danger">
                <div *ngIf="signUpForm.get('username').errors.required">
                  Username is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <div class="col-sm-6">
                  <label for="name">
                    <h6>Password</h6>
                  </label>
                </div>
                <div class="col-sm-6">
                  <input autocomplete="off" type="password" class="form-control" formControlName="password" id="password" placeholder=" " required>
                </div>
              </div>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
              <div *ngIf="signUpForm.get('password').invalid && (signUpForm.get('password').dirty || signUpForm.get('password').touched)" class="alert alert-danger">
                <div *ngIf="signUpForm.get('password').errors.required">
                  Password is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
    
              <div class="red">{{validateError}}</div>
            </div>
            <div class="col-sm-2"></div>
          </div>
          <div class="row">
              <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid">SignUp</button>
            </div>
            <div class="col-sm-4">
              <button type="reset" class="btn btn-primary" (click)=backToLogin()>Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>