.center{
    width: 50%;
    margin: 8% 24% 8% 24%;
}
.row{
    padding: 14px 14px;
}
button {
    background-color: rgb(9, 10, 9);
    color: white;
    padding: 5px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
}
.bg{
    background: url(../../assets/signUp.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}
.btn-success:disabled, .btn-success:disabled:hover {
    background-color: gray; 
    border-color: gray; 
}
.alert.alert-danger div {
    font-size: 12px
}